# List Functions

### map: map(func,iter) applies func to each item

In [2]:
a=map(lambda x:2+x, [1,2,3,4,5])
print(a)
list(a)

<map object at 0x103846610>

[3, 4, 5, 6, 7]

In [9]:
stringify = map(list, ["apple", 'banana', 'cucumber'])
list(stringify)

[['a', 'p', 'p', 'l', 'e'],
 ['b', 'a', 'n', 'a', 'n', 'a'],
 ['c', 'u', 'c', 'u', 'm', 'b', 'e', 'r']]

### zip: takes in multiples iter, and makes array of tuples

In [7]:
names="John Adam Tutankhamen Clint Bill".split(' ')
salaries = [4,6,2,7,5] # extras chopped, long as smallest link
married = [True,False,False,True]
a=list(zip(names, salaries, married))
a

[('John', 4, True),
 ('Adam', 6, False),
 ('Tutankhamen', 2, False),
 ('Clint', 7, True)]

In [15]:
#combined with tuple unpacking
for (a,b) in zip([1,2,3], 'a b c'.split()):
    print(a,b)

1 a
2 b
3 c

In [13]:
# JAGGED ZIP
names2= "Henry Adam Tutankhamen Regina Klaus jed".split(' ')
salaries = [4,6,2,7,0]
married = [True,False,False,True, True]
b=zip(names2,salaries,married)
list(b) # maps minimun length of all

[('Henry', 4, True),
 ('Adam', 6, False),
 ('Tutankhamen', 2, False),
 ('Regina', 7, True),
 ('Klaus', 0, True)]

### List Comprehension

In [2]:
val_1 = [2*index for index in range(5)]
# [0.0, 2.0, 4.0, 6.0, 8.0] 
val_2 = [2*index + 0.8 for index in range(5)]
# [0.8, 2.8, 4.8, 6.8, 8.8]

In [12]:
[i for i in range(20) if i%3==0]

[0, 3, 6, 9, 12, 15, 18]

0
0.8
2
2.8
4
4.8
6
6.8
8
8.8

In [17]:
midpoints = [(a+b)/2 for (a,b) in zip(val_1,val_2)]
midpoints

[0.4, 2.4, 4.4, 6.4, 8.4]

### str.join(list) prints list with string in between

In [10]:
'-&'.join(names)
' *_* '.join("a b c d e f".split())

'a *_* b *_* c *_* d *_* e *_* f'